<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>No</th>
            <th>Name</th>
        </tr>
        <tr th:each="country,iter:${countries}">
            <td th:utext="${iter.count}"></td>
            <td th:utext="${country}"></td>
        </tr>
    </table>
    <div th:with="country0=${countries[0]}">
        <h2>th:with</h2>
        <p th:utext="${country0}"></p>
    </div>



</body>
</html>