<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table border="1">
        <tr>
            <td>No</td>
            <td>name</td>
            <td>age</td>
            <td>mail</td>
        </tr>
        <tr th:each="person,state:${plist}">
            <td th:utext="${state.count}"></td>
            <td th:utext="${person.getName()}?:'(ername)'"></td>
            <td th:utext="${person.getAge()}?:'(erage)'" th:unless="${person.getAge()}"></td>
            <td th:utext="${person.getMail()}"></td>
        </tr>
    </table>
    <tr th:switch="${str}">
        <td th:case="'11'">111</td>
        <td th:case="'12'">121</td>
        <td th:case="'13'">131</td>
    </tr>
</body>
</html>